<!-- ? nav, ul, li -->
<!-- ? section (with class), h2 (with class), div (with class), span (with class), strong (with class) -->
<!-- ? input text id, name -->
    <!-- id vs name: https://stackoverflow.com/questions/7470268/html-input-name-vs-id -->
<!-- ? input submit, value -->
    <!-- same with button. then difference with button? -->
<!-- ? form -->
<!-- ? getElementsByClassName vs getElementById-->
    <!-- https://www.geeksforgeeks.org/javascript-getelementsbyclassname-vs-getelementbyid-method/#:~:text=getElementsByClassName(%22class_name%22)%3B,attribute%20with%20the%20specified%20value. -->
<!DOCTYPE html>
<html>
    
    <head>
        <title>purchaseTest</title>
        <meta name="purchaseTest" content="This is the purchaseTest">
        <!-- <link rel="stylesheet" href="styles.css" />  -->
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="purchaseTestForm.js" defer></script>
    </head>

    <body>
        <header class="main-header">
        </header>
        <section class="container content-section">
            <div class="test-total">
                <!-- 
                <strong class="cart-total-title">Total</strong>
                <span class="test-price">$0</span>
                -->

                
                <label for = "test-label"> Amount (USD): </label>
                <input type = "text" id = "test-amount" name = "test-amount">
                <button class="btn-purchase" type="button">PURCHASE</button>
                

                <!--
                <label for = "test-label"> Amount: </label>
                <input class = "test-amount" type = "text" >
                <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
                -->

                <!--
                <label for = "test-label"> Amount: </label>
                <span class="test-amount">$113</span>
                <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
                -->

            </div>
            
        </section>
    </body>
</html>
