<!DOCTYPE html>
<html>
    
    <head>
        <title>purchaseTest</title>
        <meta name="purchaseTest" content="This is the purchaseTest">
        <!-- <link rel="stylesheet" href="styles.css" />  -->
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="purchaseTestForm.js" defer></script>
    </head>

    <body>
        <header class="main-header">
        </header>
        <section class="container content-section">
            <div class="test-total">
                <label for = "test-label"> Amount (USD): </label>
                <input type = "text" id = "test-amount" name = "test-amount">
                <button class="btn-purchase" type="button">PURCHASE</button>
            </div>
            
        </section>
    </body>
</html>
